.App {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.search-panel__search {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
}

.search-panel__list {
  list-style-type: none;
  padding: 0;
}

.search-panel__button {
  width: 100%;
  padding: 5px 0;
  font-size: 1rem;
}

.details-panel__video {
  width: 100%;
  height: auto; 
}

.details-panel__level {
  background-color: yellow;
  border-radius: 10px;
  padding: 5px 10px;
  width: fit-content;
  font-size: 0.875rem; 
}

.details-panel__title {
  font-size: 2rem;
}

.details-panel__description {
  font-size: 1rem;
}

.details-panel__accordion {
  width: 100%;
}

.details-panel__accordion-summary::marker {
  padding-right: 5px;
}