.App {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #010703;
  color: #FFF;
}

.search-panel__search {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: #010703;
  color: #FFF;
  padding: 10px 0;
}

.search-panel__label {
  margin-bottom: 5px;
}

.search-panel__input {
  padding: 10px 20px;
  background-color: #010703;
  color: #FFF;
  border: 1px solid #FFEE5C;
  border-radius: 20px;
  font-size: 1rem;
}

.search-panel__list {
  list-style-type: none;
  padding: 0;
}

.search-panel__button {
  width: 100%;
  padding: 5px 0;
  font-size: 1rem;
  background-color: #010703;
  color: #FFF;
  border: none;
  padding: 10px 0;
}

.search-panel__button:hover,
.search-panel__button:active,
.search-panel__button:focus {
  background-color: #FFEE5C;
  color: #010703;
}

.details-panel__video-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  margin: 20px 0;
}

.details-panel__video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.details-panel__level {
  background-color: #FFEE5C;
  border-radius: 10px;
  padding: 5px 10px;
  width: fit-content;
  font-size: 0.875rem;
  color: #010703;
}

.details-panel__title {
  font-size: 2rem;
}

.details-panel__description {
  font-size: 1rem;
}

.details-panel__accordion {
  width: 100%;
  background-color: #FFEE5C;
  color: #010703;
  padding-bottom: 5px;
  border-radius: 10px;
}

.details-panel__accordion-summary {
  list-style-position: outside;
  margin-left: 30px;
  padding: 10px 10px 10px 20px;
  border-radius: 10px;
}

.details-panel__accordion-content {
  background-color: #010703;
  color: #FFF;
  margin: 5px;
  border-radius: 10px;
}

.details-panel__accordion-content-wrap {
  padding: 10px;
}

.details-panel__bold-text {
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
      margin: 0;
      overflow: hidden;
  }

  .App {
    flex-direction: row;
    margin: 0;
    height: 100%;
  }

  .search-panel {
    width: 20%;
    overflow-y: auto;
    height: 100%;
  }

  .search-panel__list {
    padding: 0 0 20px 0;
  }

  .details-panel {
    width: 80%;
    height: 100%;
    padding: 0 20px 20px 20px;
    overflow-y: auto;
  }

  .details-panel__video-wrap {
    margin: 30px 0;
  }

  .details-panel__accordion {
    margin-bottom: 50px;
  }
}